alias clipboard='xclip -sel clip'
alias tools='cd ~/workspace/juliano.galgaro/bots/TOOLS/'
alias r='echo "you dont need this. ¬¬"'
alias jaws='cd ~/workspace/go/src/gitlab.neoway.com.br/jaws'
alias dataplatform='cd ~/workspace/go/src/gitlab.neoway.com.br/dataplatform'
alias matadeiro='cd ~/workspace/matadeiro'
alias solr-sql='cd ~/workspace/matadeiro/solr-neoway/solr-sql'
alias mapping="cd ~/workspace/matadeiro/data-nasa-tools/mapping-deploy"
